nav{
    background-color: #111827;
    padding:16px 32px;
    display:flex;
    justify-content: space-between;
}
nav a{
    color:white;
    text-decoration: none;
}
nav div a{
    margin-right: 20px;
}
nav svg{
    color:white;
    display:none;
}
@media(max-width:700px){
    nav svg{
        display:block;
    }
    nav a{
        display:none;
    }
}
section article{
    width: 300px;
    height: 300px;
    background-color: green;
}
section article:first-child{
    background-color: red;
}
section article:last-child{
    background-color: blue;
}